[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
# Character set & collation
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# Timezone
default-time-zone = 'Asia/Seoul'

# Skip host name resolve (성능 향상)
skip-host-cache
skip-name-resolve

# Other configs
max_connections = 200
